blinker==1.9.0
certifi==2024.12.14
charset-normalizer==3.4.1
click==8.1.8
dropbox==12.0.2
Flask==3.1.1
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.5
MarkupSafe==3.0.2
ply==3.11
requests==2.32.3
ruff==0.9.2
six==1.17.0
stone==3.3.1
urllib3==2.3.0
Werkzeug==3.1.3
