<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erreur</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Une erreur est survenue</h1>
        <p>{{ error_message }}</p>
        <p>Veuillez essayer plus tard ou contacter l'administrateur de Winternet.</p>
    </div>
</body>
</html>
