<!DOCTYPE html>
<html>
<head>
    <title>Connexion à Winternet</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Connexion</h1>
        <h6>Si vous n'êtes pas connecté, il faudra le faire pour certaines actions.(Il se peut que une autre de nos pages vous redirige automatiquement ici.)</h6>
        <form action="/login" method="post">
            <div class="form-group">
                <label for="username">Nom d'utilisateur:(Utilisé durant la registration)</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Mot de passe:</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Se connecter</button>
        </form>
        <!-- Lien vers la page d'inscription -->
        <p>Pas de compte? <a href="/signup">S'inscrire ici</a></p>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

